version: '3.8'
services:
  prod:
    container_name: ridemio_website
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    ports:
      - "4000:3000"
    environment:
      - NODE_ENV=production
    command: npm start
