name: Deploy via SSH

on:
  push:
    branches:
      - main
      - develop
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Set environment variables based on branch
      - name: Set deploy variables
        run: |
          if [ "${GITHUB_REF_NAME}" = "develop" ]; then
            echo "SERVER_IP=202.51.70.66" >> $GITHUB_ENV
            cp .env-dev .env
            echo "Using .env-dev"
            echo "${{ secrets.PRIVATE_KEY_DEV }}" > private_key_base
            echo "RUN_FILE=run-dev.sh" >> $GITHUB_ENV
            echo "DEPLOY_PATH=/root/ridemio_website" >> $GITHUB_ENV
          elif [ "${GITHUB_REF_NAME}" = "main" ]; then
            echo "SERVER_IP=202.51.70.55" >> $GITHUB_ENV
            cp .env-prod .env
            echo "Using .env-prod"
            echo "${{ secrets.PRIVATE_KEY_PROD }}" > private_key_base
            echo "RUN_FILE=run-prod.sh" >> $GITHUB_ENV
            echo "DEPLOY_PATH=/root/ridemio_website" >> $GITHUB_ENV
          else
            echo "No deployment for this branch."
            exit 1
          fi

      # 3️⃣ Setup SSH
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          cat private_key_base | base64 -d > ~/.ssh/id_rsa
          chmod 400 ~/.ssh/id_rsa

          # Add your server to known_hosts
          ssh-keyscan -H $SERVER_IP >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts


      # 4️⃣ Prepare server directory
      - name: Prepare server
        run: |
          ssh -i ~/.ssh/id_rsa root@$SERVER_IP << EOF
            mkdir -p $DEPLOY_PATH
            rm -rf $DEPLOY_PATH/*
          EOF

      # 5️⃣ Copy files
      - name: Copy files
        run: |
          rsync -avz \
            -e "ssh -i ~/.ssh/id_rsa" \
            ./ root@$SERVER_IP:$DEPLOY_PATH/

      # 6️⃣ Run deploy script
      - name: Run deploy script
        run: |
          ssh -i ~/.ssh/id_rsa root@$SERVER_IP \
            "bash $DEPLOY_PATH/$RUN_FILE"